<mat-tab-group>
  <mat-tab label="Login">
    <form role="form" (submit)="login()"><br>
      <mat-form-field>
        <input matInput placeholder="Username">
      </mat-form-field>
      <br/>

      <mat-form-field>
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
      <br/>

      <button mat-raised-button color="primary" type="submit">LOGIN</button>
      <br/>

      <mat-slide-toggle color="primary"><small>Remember me!</small></mat-slide-toggle>
    </form >
    
  </mat-tab>
  <mat-tab label="Sign up">

    
  </mat-tab>
</mat-tab-group>
